body {
   background: #f7f7f7;
}

.dropdown-content {
   min-width: 200px;
   margin-top:65px;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
          margin-top: 20px;
          margin-bottom: 20px;
          border: 0;
          border-top: 1px solid #eee;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 0 #2196f3;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2196f3;
}

.cont {
   position: absolute;
   top: 60%;
   left: 5%;
   right: 5%;
   background: #fff;
   border: 1px solid #ededed;
}

.item {
   padding: 20px 50px;
}

footer {
   margin-top: 20px;
}
.toko {
   position: absolute;
   text-align: center;
   background: #aaaaaa;
   height: 400px;
   margin-top: 0;
   width: 100%;
   padding-top: 50px;
}
.toko h2 a{
   font-weight: bolder;
   -webkit-text-stroke: 4px #f4f4f4;
   font-size: 100px;
   color: #202020
}
.toko p {
   font-size: 30px;
}
.link {
   float: left;
   font-size: 16px;
}
.link a .fa{
   border-radius: 5px;
}
.fa-facebook {
   padding: 5px 9px;
   background: #3B5991;
}
.fa-twitter {
   padding: 5px 6px;
   background: #3bf;
}
.fa-google-plus {
   padding: 5px 3px;
   background: #DB3330;
}
.card-image {
   height : 250px;
   background: #464646;
   text-align: center;
}
.card-image img {
   vertical-align: bottom;
}
.card-action .btn-flat {
   width:100%;
   margin-bottom: 5px;
}
.back-top {
   z-index: 999;
   position: fixed;
   bottom: 30px;
   right: 10px;
   display: none;
}
@media screen and (max-width:600px){
   .toko h2 a{
      font-weight: bold;
      -webkit-text-stroke: 2px #f4f4f4;
      font-size: 75px;
   }
   .toko p {
      font-size: 18px;
   }
   .toko{
     height: 300px;
   }
   .cont {
      top: 45%;
   }
   .card-image {
      height : 200px;
   }
}
